body{
    background-image: url(images/summer-2391348_1920.jpg);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
li{
    float: left;
}
.right{
    float: right;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}
li a:hover{
   background-color: palevioletred;
}
li a:active{
    background-color: peru;
}
div{ 
   font-size: 35px;
    text-align: center;
    color: black;
    
}
button{
    background-color: orange;
    color: black;
    padding: 10px;
    
}



