body{
    background-image: url(images/myanmar-4708901_1920.jpg);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
li{
    float: left;
}
.right{
    float: right;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}
li a:hover{
   background-color: palevioletred;
}
li a:active{
    background-color: peru;
}
div{ 
   font-size: 35px;
    text-align: center;
    color: white;
    
}
table,th,td{
    border: 3px solid white;
}
th{
    background-color: green;
    color: white;
}
