body{
    background-image: url(images/harvest-3679075_1920.jpg);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li{
    float: left;
}
li a{
    display: block;
    text-align: center;
    color: white;
    padding: 15px 18px;
    text-decoration: none;
    
}
.right{
    float: right;
}
li a:hover{
    background-color: greenyellow;
}
li a:active{
 background-color: palevioletred;
}
a{
    display: inline-block;
    font-size: 15px;
    color: white;
}
h1{
    color: white;
    text-align: center;
    
}
div{
    font-size: 40px;
    color: white;
    text-align: center;
}
.large{
    font-size: 40px;
}
table,th,td{
    border: 3px solid white;
}
th{
    background-color: green;
    color: white;
}














